@using tatais.Controllers
@model tatais.Models.History_encrypted
@{
    ViewBag.Title = "Добавление текста";
}
<form asp-action="create" asp-controller="home">

    <div class="form-group">
        <label asp-for="original_text" class="control-label">Введите текст для зашифровки</label>
        <input type="text" asp-for="original_text" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" />
    </div>
</form>
<div></div>


